picture{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100px;
  margin-bottom: 20px;
}

picture.is-small{
  width: 50px;
}

img{
  box-shadow: 0 0 15px #999;
  border-radius: 50%;
  width: 100%;
}

img.disabled{
  opacity: 0.3;
}